<footer class="footer">
  <div class="footer-wrap" fxLayout="row">
    <span class="footer_privacy-policy roboto-regular-12">© 2017, Roister International Limited</span>
    <ul class="footer_menu">
      <li class="footer_menu-item">
        <a class="roboto-regular-12 footer_menu-link" href="https://roister.io/terms.html" target="_blank">Terms And Conditions</a>
      </li>
      <li class="footer_menu-item">
        <a class="roboto-regular-12 footer_menu-link" href="https://roister.io/privacy-policy.html" target="_blank">Privacy Policy</a>
      </li>
      <li class="footer_menu-item">
        <a class="roboto-regular-12 footer_menu-link" href="https://roister.io/user-agreement.html" target="_blank">User agreement</a>
      </li>
    </ul>
    <div>
      <button type="button" class="btn footer_btn-help small-transparent-grey">Help</button>
    </div>
  </div>
  <!-- <button type="button" hide show-gt-sm class="btn footer_btn-help small-transparent-grey">Help</button> -->
</footer>
