//colored
$blue-strong: #4080FF;
$blue-medium: #5C92FF;
$green-strong: #23BD01;
$green-medium: #43C626;
$red-strong: #FF2D54;
$red-medium: #FF4C6D;
$orange-strong: #FFA500;
$orange-medium: #FFB225;
//blacks
$black: #000000;
$black-strong: #191919;
$black-medium: #262626;
//greys
$grey-type-a: #323232;
$grey-type-b: #4C4C4C;
$grey-type-c: #666666;
$grey-type-d: #7F7F7F;
$grey-type-e: #999999;
$grey-type-f: #B2B2B2;
$grey-type-g: #CCCCCC;
$grey-type-h: #E5E5E5;
$grey-type-i: #2c2c2c;
$grey-type-j: #3b3b3b;
$grey-type-k: #424240;
$grey-type-l: #343432;
$grey-type-m: #979797;

//whites
$white-strong: #FFFFFF;
$white-medium: #F8F8F8;
