[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-cancel-1:before { content: "\f100"; }
.flaticon-cancel:before { content: "\f101"; }
.flaticon-apple-logo:before { content: "\f102"; }
.flaticon-construction:before { content: "\f103"; }
.flaticon-connection:before { content: "\f104"; }
.flaticon-star:before { content: "\f105"; }
.flaticon-interface:before { content: "\f106"; }
.flaticon-tool:before { content: "\f107"; }
.flaticon-calendar:before { content: "\f108"; }
.flaticon-clock:before { content: "\f109"; }
.flaticon-search:before { content: "\f10a"; }
.flaticon-travel:before { content: "\f10b"; }
.flaticon-left-arrow:before { content: "\f10c"; }
.flaticon-arrows-1:before { content: "\f10d"; }
.flaticon-os-x:before { content: "\f10e"; }
.flaticon-android-character-symbol:before { content: "\f10f"; }
.flaticon-sort-up-arrow:before { content: "\f110"; }
.flaticon-sort-down-triangular-symbol:before { content: "\f111"; }
.flaticon-squares-2:before { content: "\f112"; }
.flaticon-square:before { content: "\f113"; }
.flaticon-ellipsis:before { content: "\f114"; }
.flaticon-round:before { content: "\f115"; }
.flaticon-ipad:before { content: "\f116"; }
.flaticon-apple-monitor:before { content: "\f117"; }
.flaticon-iphone:before { content: "\f118"; }
.flaticon-hours:before { content: "\f119"; }
.flaticon-multimedia:before { content: "\f11a"; }
.flaticon-refresh:before { content: "\f11b"; }
.flaticon-curve-arrow-3:before { content: "\f11c"; }
.flaticon-curve-arrow-2:before { content: "\f11d"; }
.flaticon-curve-arrow-1:before { content: "\f11e"; }
.flaticon-curve-arrow:before { content: "\f11f"; }
.flaticon-check:before { content: "\f120"; }
.flaticon-dollar-symbol:before { content: "\f121"; }
.flaticon-favorite:before { content: "\f122"; }
.flaticon-squares-1:before { content: "\f123"; }
.flaticon-squares:before { content: "\f124"; }
.flaticon-windows:before { content: "\f125"; }
.flaticon-credit-card:before { content: "\f126"; }
.flaticon-signs:before { content: "\f127"; }
.flaticon-add:before { content: "\f128"; }
.flaticon-remove:before { content: "\f129"; }
.flaticon-logout:before { content: "\f12a"; }
.flaticon-menu:before { content: "\f12b"; }
.flaticon-rocket-launch:before { content: "\f12c"; }
.flaticon-arrows:before { content: "\f12d"; }
.flaticon-edit:before { content: "\f12e"; }
.flaticon-social:before { content: "\f12f"; }
.flaticon-settings:before { content: "\f130"; }
.flaticon-www:before { content: "\f131"; }
.flaticon-right-arrow:before { content: "\f132"; }

.glyphs-list {
  i {
    color: $white-strong;
    font-size: 28px;
  }
}
