@import '../../assets/styles/colors.scss';

.navbar-nav {
    margin-bottom: 60px;

      .navbar-nav_item {
        margin-bottom: 1px;

        i {
          float: left;
          height: 20px;
          margin-right: 10px;

            &:before {
              font-size: 20px;
            }

        }

        a {
          text-decoration: none;
          line-height: 21px;
          font-size: 16px;
          color: $white-strong;
          display: block;
          padding: 10px;
          border-radius: 6px;
          transition: .3s ease-out;

            &:hover {
              background: $blue-strong;
            }
        }
      }
      .navbar-nav_item .is-active {
        background: $blue-strong;
      }

      .navbar-nav_item.navbar-nav_plans:before {
        content: '';
        border: 0;
        border-top: 1px solid $grey-type-b;
        margin: 20px 0;
        display: block;
      }

  }
