.password-strength_input {
  color: $black-strong;
}

.password-strength-status {
  width: 100%;
  div {
    height: 2px;
    display: inline-block;
  }
  .password-strength-status_line_20 {
    background-color: $red-strong;
  }
  .password-strength-status_line_40 {
    background-color: $red-medium;
  }
  .password-strength-status_line_60 {
    background-color: $orange-strong;
  }
  .password-strength-status_line_80 {
    background-color: $orange-medium;
  }
  .password-strength-status_line_100 {
    background-color: $green-strong;
  }
}
